* {
    margin: 5%;
}

body {
    font-family: 'Barlow Condensed', 'Barlow', sans-serif;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

.image {
    position: absolute;
    margin: 0;
    transform: translateX(10px);
}

.navbar {
    height: 60px;
    color: hsl(230, 29%, 20%);
}

.navbar, .first, .button {
    font-family: 'Barlow Condensed';
    font-weight: bold;
} 

.header, .second, .preview {
    font-family: 'Barlow';
}

.left {
    margin: 60px 0 0 -35px;
    height: 300px;
    width: 550px;
}

.demo {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.btn {
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    height: 30px;
    font-size: 16px;
}
.new {
    background: hsl(230, 29%, 20%);
    color: white;
    border-radius: 20px;
    width: 60px;
    font-weight: bold;
    margin: 0 0 0 -20px;
    text-align: center;

}

.header-title, .preview {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(165, 164, 164);
    font-weight: bold;
    font-size: 15px;
}

.preview {
    transform: translateY(8px);
}

.first {
    font-size: 60px;
    text-transform: uppercase;
    margin-top: -15px;
    line-height: 1;
}
.second {
    color: rgb(116, 113, 113);
    width: 280px;
}

.button {
    background-color: hsl(0, 100%, 68%);
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    width: 160px;
    font-size: 16px;
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin: 0;
}
  
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 765px){

  
    body {
        width: auto;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .content{
        display: flex;
        flex-direction: column-reverse;
    }
    .image {
        position: relative;
        width: 375px;
        justify-content: right;
    }
}
